@font-face {
    font-family: FontAwesome-GitHub;
    src: url("../fonts/FontAwesome-GitHub.woff2") format('woff2');
}

body {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 1.1;
    font-family: "Fira Sans", san-serif;
    text-align: center;
}

* {
    font-weight: normal;
}

header,
footer {
    margin: 0;
}

header {
    background-image: url('../images/bg-header.png'),
        linear-gradient(45deg, #212123, #1c2f56, #2c9afe);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 2vmax;
    padding-bottom: 2vmax;
    color: #ffffff;

}

header hgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding-left: 22vmax;
    min-height: 18vmax;
}

header hgroup:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    height: 18vmax;
    width: 18vmax;
    background-image: url('../images/thunderbird-logo.svg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: contain;
    content: "";
    pointer-events: none;
}

header h1 {
    overflow: visible;
    margin: 0;
    font-size: 4vmax;
}

header h2 {
    margin: 0;
    font-size: 1.4vmax;
}

#content {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-head {
    width: 100%;
    display: block;
    text-align: center;
}

.content-head h1 {
    font-size: 3vmax;
}

.content-wrapper {
    display: flex;
}

.channel {
    display: flex;
    padding: 2.5vmax;
    flex-direction: column;
}

.channel h2 {
    margin: 0 auto;
    font-size: 3vmax;
    font-weight: inherit;
    width: 20vmax;
}

.channel a {
    font-size: 2.5vmax;
    display: block;
    width: 20vmax;
    padding-top: 25px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: highlight;
}

footer {
    flex: none;
    display: flex;
    align-items: center;
    padding: 1.5vmax;
    font-size: 2vmax;
    background-color: #212123;
    color: #fff;
}

footer nav {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer nav h2 {
    margin: 0;
    font-size: inherit;
}

footer nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

footer nav li {
    margin: 0;
    padding: 0 0 0 .8em;
    list-style: none;
}

footer nav li:not(:last-child)::after {
    padding-left: .8em;
    content: '|';
}

footer div {
    flex: none;
}

footer #github .icon {
    font-family: "FontAwesome-GitHub";
    font-size: 1.2em;
    vertical-align: top;
}


