{% extends 'base.tmpl' %}

{% block extra_head_data %}
  <link rel="stylesheet" href="/assets/css/bootstrap-table.min.css">
{% endblock %}

{% block extra_js %}
  <script src="/assets/js/bootstrap-table.min.js"></script>
  <script type="module">
      import BZQueryRunner from "../../assets/js/bugzilla.js"

      $("#content").removeClass("container").addClass("container-fluid")
      window.addEventListener(
          'DOMContentLoaded', () => new BZQueryRunner("#bugquery"), {once: true});

  </script>
{% endblock %}

{% block content %}
  <h3 id="bugquery-title" class="card-title"></h3>
  <div class="table-responsive">
    <table id="bugquery"></table>
  </div>
  <div id="bugzilla-link">
    <a href="#" target="_blank" hidden>Open in Bugzilla</a>
  </div>
{% endblock %}
