{% extends 'base.tmpl' %}
{% import 'post_header.tmpl' as pheader with context %}

{% block extra_js %}
<script>
    $(function () {
        let $main = $("main.dash-content")
        $main.addClass("no-padding")
        let $iframe = $(".release-dashboard")
        let url_hash = document.location.hash
        let iframe_src = `/release-dashboard/${url_hash}`
        $iframe.attr('src', iframe_src)
    })

</script>
{% endblock %}

{% block content %}
  <header class="dashboard-header">
    {{ pheader.html_title() }}
    {{ pheader.html_translations(post) }}
  </header>
  <div class="dashboard-wrapper">
    {{ post.text() }}
  </div>
{% endblock %}
