{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'post_header.tmpl' as pheader with context %}
{% extends 'post.tmpl' %}

{% block extra_js %}
<script type="module">
  import {getTextURL} from "../../../assets/js/utils.js"

  const TB_NIGHTLY_VERSION_URL = "https://hg.mozilla.org/comm-central/raw-file/tip/mail/config/version_display.txt"
  const FF_NIGHTLY_VERSION_URL = "https://hg.mozilla.org/mozilla-central/raw-file/tip/browser/config/version_display.txt"

  function doReplaceMilestones(branch, version) {
      let elems = document.querySelectorAll(`.milestone.${branch}`)
      for (let e of elems) {
          e.innerText = version
      }
  }

  function doReplaceToday() {
      let today = new Date()
      const today_str = today.toDateString()
      let elems = document.querySelectorAll(".date.today")
      for (let e of elems) {
          e.innerText = today_str
      }
  }

  const tb_nightly_ver = await getTextURL(TB_NIGHTLY_VERSION_URL)
  const ff_nightly_ver = await getTextURL(FF_NIGHTLY_VERSION_URL)

  // The Thunderbird versions need to be incremented to what the new major versions
  // will be post merge so that the emails make sense.
  let tb_nightly_ms = Number(tb_nightly_ver.replace(".0a1\n", ""))
  let tb_beta_ms = tb_nightly_ms
  let tb_release_ms = tb_beta_ms - 1
  tb_nightly_ms = tb_nightly_ms + 1

  // Check to see if the Firefox bump-central has happened. That's the last
  // step of their process. Firefox merges are complete (enough) if the
  // FF Nightly version from Mercurial matches the (incremented) TB Nightly
  // version.
  let ff_nightly_ms = Number(ff_nightly_ver.replace(".0a1\n", ""))
  if (ff_nightly_ms === tb_nightly_ms) {
      document.getElementById("ff_merge_negate").remove()
  }

  doReplaceMilestones("nightly", tb_nightly_ms.toString(10))
  doReplaceMilestones("beta", tb_beta_ms.toString(10))
  doReplaceMilestones("release", tb_release_ms.toString(10))

  doReplaceToday()
</script>
{% endblock %}

{% block content %}
<article class="post-{{ post.meta('type') }} storypage" itemscope="itemscope"
           itemtype="http://schema.org/Article">
  <header>
    {{ pheader.html_title() }}
    {{ pheader.html_translations(post) }}
  </header>
  <div class="e-content entry-content" itemprop="articleBody text">
    {{ post.text() }}
  </div>
</article>
{% endblock %}
