
{% macro html_navigation_links_entries(navigation_links_source) %}
  {% for url, text in navigation_links_source[lang] %}
    {% if isinstance(url, tuple) %}
      <li class="dash-nav-item dropdown"><a href="#" class="nav-link dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">{{ text }}</a>
        <div class="dropdown-menu">
          {% for suburl, text in url %}
            {% if rel_link(permalink, suburl) == "#" %}
              <a href="{{ permalink }}" class="dropdown-item active">{{ text }} <span
                  class="sr-only">{{ messages("(active)", lang) }}</span></a>
            {% else %}
              <a href="{{ suburl }}" class="dropdown-item">{{ text }}</a>
            {% endif %}
          {% endfor %}
        </div>
        {% else %}
        {% if rel_link(permalink, url) == "#" %}
          <li class="dash-nav-item active"><a href="{{ permalink }}" class="nav-link">{{ text }}
            <span
                class="sr-only">{{ messages("(active)", lang) }}</span></a>
            {% else %}
          <li class="dash-nav-item"><a href="{{ url }}" class="nav-link">{{ text }}</a>
        {% endif %}
    {% endif %}
  {% endfor %}
{% endmacro %}
